{% extends 'g_base_top_rightsearch_usercenter.html' %}
{% block js %}
<script type="text/javascript" src='/static/js/Order.js'></script>
<script type="text/javascript">
	$(function(){
		$.get('/orderInfo/userDetailInfo/',function(data){

			$('.user_info_list').append('<li ><span>用户名：</span>'+data.key[0]+'</li>');
			$('.user_info_list').append('<li ><span>联系方式：</span>'+data.key[1]+'</li>');
			$('.user_info_list').append('<li ><span>联系地址：</span>'+data.key[2]+'</li>');
		});

		$('.add_goods').click(function () {
		    var count = 1;
            var href = $(this).parent().prev().prev().attr('href');
            var ind = href.lastIndexOf('=');
            var id = href.slice(ind+1);
            $.post(
                '/cartInfo/addCartInfo/',
                {
                   'good_pk':id,
                   'user_pk':"",
                   'count':1,
                }
            );
        });
	});
</script>
{% endblock js %}
{% block right_search_page_center %}
    <div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="" class="active">· 个人信息</a></li>
				<li><a href="/orderInfo/" >· 全部订单</a></li>
				<li><a href="/orderInfo/address/" >· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				{% block right_content %}
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
						</ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
                        {% for temp in obj_list %}
                            <li>
                                <a href="/goodsInfo/detail/?id={{temp.id}}"><img src="{{ temp.gImage }}"></a>
                                <h4><a href="/goodsInfo/detail/?id={{temp.id}}">{{ temp.gTitle }}</a></h4>
                                <div class="operate">
                                    <span class="prize">￥{{ temp.gPrice }}</span>
                                    <span class="unit">{{ temp.gPrice }}/500g</span>
                                    <a href="#" class="add_goods" title="加入购物车"></a>
					            </div>
				            </li>
                        {% endfor %}
			</ul>
		</div>
		</div>
				{% endblock right_content %}
		</div>
	</div>
{% endblock right_search_page_center %}