{% extends 'g_base_top_centersearch.html' %}
{% comment %}
    三级模板:
        左侧logo
        中间search
        右边购物车
{% endcomment %}


{% block js %}
        <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.add_goods').click(function(){
                var count = 1;
                var href = $(this).parent().prev().prev().attr('href');
                var ind = href.lastIndexOf('=');
                var id = href.slice(ind+1);
                $.post('/cartInfo/addCartInfo/',
                         {
                          'good_pk':id,
                          'user_pk':"",
                          'count':count,
                         },
{#                         判断是否成功做相应事情#}
                    function(list){
                        if(list.addResult == '1'){

                            var $add_x = $('#add_cart').offset().top;
                            var $add_y = $('#add_cart').offset().left;

                            var $to_x = $('#show_count').offset().top;
                            var $to_y = $('#show_count').offset().left;

                            $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
                            $(".add_jump").stop().animate({
                                'left': $to_y+7,
                                'top': $to_x+7},
                                "fast", function() {
                                    $(".add_jump").fadeOut('fast',function(){
                                        $('#show_count').html(list.cart_count);
                                    });

                                });
                        };
                    });
		});
{#		$('.add_goods').click(function(){#}
{#						$('#show_count').html(parseInt($('#show_count').html())+1);#}
{#		});#}
{#        var price =$('.pp').text();#}
{#        alert(price);#}
        var price = $('.pp').each(function (index,item) {

            console.log($(item).text());
        });
{#        alert(price.length)#}
{#        function paixu(idx){#}
{#            for(var i=0;i<price.length;i++){#}
{#                for(var j=0; j<price.length-1-i;j++){#}
{#                    if(Number(price[j.q]))#}
{#                }#}
{#            }#}
{#        }#}

        $('#price').click(function(){
            price.sort(function(a,b){
                return a.price()-b.price()
            });
             for(var i=0;i<price.length;i++){
            document.writeln();
            }
        });
        });
	</script>

{% endblock js %}

{% block content_without_lsc %}
    {# 此处填写具体功能的页面 #}




	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/goodsInfo/#model01" class="fruit">新鲜水果</a></li>
					<li><a href="/goodsInfo/#model02" class="seafood">海鲜水产</a></li>
					<li><a href="/goodsInfo/#model03" class="meet">猪牛羊肉</a></li>
					<li><a href="/goodsInfo/#model04" class="egg">禽类蛋品</a></li>
					<li><a href="/goodsInfo/#model05" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/goodsInfo/#model06" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/goodsInfo/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/goodsInfo/">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="/static/images/goods/goods001.jpg"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="/static/images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/goodsInfo/list/{{list1}}/" class="">默认</a>
				<a href='/goodsInfo/list2/{{list1}}/' class="active" id="c">价格</a>
				<a href="#">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                 {% for temp in page %}
{#                {% for temp in list %}#}
				<li>
					<a href="/goodsInfo/detail/?id={{temp.id}}"><img src={{ temp.gImage }}></a>
					<h4><a href="detail.html">{{ temp.gTitle }}</a></h4>
					<div class="operate">
						<span class="prize pp" >{{ temp.gPrice }}</span>
						<span class="unit">{{ temp.gPrice }}/500g</span>
						<a href="javascript:;" class="add_goods" title="加入购物车" id = "add_cart"></a>
					</div>
				</li>
{#            {% endfor %}#}
            {% endfor %}
			</ul>

			<div class="pagenation">
                {% if pPrev == pIndex %}
                <a href="{{ pIndex }}">首页</a>
                {% else %}
                    <a href="{{ 1 }}">首页</a>
				<a href="{{ pPrev }}">上一页</a>
                {% endif %}

                {% for temp in page_num %}
                     {% if temp == pIndex %}
                         <a>{{ pIndex }}</a>
                     {% else %}
				<a href="{{ temp }}" class="active">{{ temp }}</a>
                    {% endif %}

                {% endfor %}


                {% if pNext == pIndex %}
                <a href="{{ pIndex }}">末页</a>
                    {% else %}

				<a href="{{ pNext }}">下一页</a>
                <a href="{{ pcount }}">末页</a>
                {% endif %}
			</div>
		</div>
	</div>
    <div class="add_jump"></div>
{#    <script>#}
{#        $('#add_cart').click(function(){#}
{#				$('#show_count').html(parseInt($('#show_count').html())+1)#}
{#		});#}
{##}
{#    </script>#}

 {% endblock content_without_lsc %}