{% extends 'g_base.html' %}
{% comment %}
    二级基模板:
        顶部登陆什么的
{% endcomment %}

{% block loginedName_js %}
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script>
        $(function () {
            {# 看cookies 中是否有用户名, 有就填写 #}
            //var username = $.cookie('username');
            username = $.cookie('loginedName');
            if (username){
                {# 欢迎xxx #}
                $('.login_btn').hide();
                $('.login_info').show();
                $('.login_info em').html(username);
            } else {
                {# 请登入xxxx #}
                $('.login_info').hide();
                $('.login_btn').show();
            }

            $('.login_info span').click(function () {
                // 注销-- 删除cookies
                $.cookie('session_id', "", {path:"/"});
                $.cookie('loginedName', "", {path:"/"});
                // 更新显示
                {# 请登入xxxx #}
                $('.login_info').hide();
                $('.login_btn').show();
            });
        })
    </script>
{% endblock loginedName_js %}

{% block body_without_footer %}
        {#此处开始为顶部注册登陆什么的#}
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
                {# 已登入用户名 开始 #}
				<div class="login_info fl">
					欢迎您：<em>张 山</em>&nbsp;&nbsp;&nbsp;&nbsp;<span>注销</span>
				</div>
                {# 已登入用户名 结束 #}

                {# 未登入按钮 开始 #}
				<div class="login_btn fl">
					<a href="/userInfo/loginPage/">登录</a>
					<span>|</span>
					<a href="/userInfo/registerPage/">注册</a>
				</div>
                {# 未登入按钮 开始 #}

                {# 用户中心 我的购物车 我的订单 开始 #}
				<div class="user_link fl">
					<span>|</span>
					<a href="/orderInfo/userInfo/">用户中心</a>
					<span>|</span>
					<a href="/cartInfo/cartPage/">我的购物车</a>
					<span>|</span>
					<a href="/orderInfo/">我的订单</a>
				</div>
                {# 用户中心 我的购物车 我的订单 结束 #}
			</div>
		</div>
	</div>
    {#此处为顶部注册登陆什么的结束#}
    {% block body_without_footer_and_header %}

    {% endblock body_without_footer_and_header %}
{% endblock body_without_footer %}
</html>